<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Nexus</title>
    {{! <link rel="stylesheet" href="/css/jass.css"> }}
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/style.css" />
     <link rel="stylesheet" href="/css/custom.css" />
  </head>

  <body class="bg-gray-100">
    <header class="px-8 md:px-20">
      <nav class="max-w-screen-xl mx-auto flex pt-8 justify-between pb-8">
        {{!-- Left side of nav bar --}}
        <div class="flex gap-x-3">
          <a href="/" class="font-bold text-slate-800 hover:text-blue-900 transition duration-300 flex">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
            </svg>PROJECT NEXUS
          </a>
          <a href="/questions" class="font-bold text-slate-800 hover:text-blue-900 transition duration-300">Questions</a>
          <a href="/api/tags" class="font-bold text-slate-800 hover:text-blue-900 transition duration-300">Tags</a>
          {{!-- <a href="/createPost" class="font-bold text-slate-800 hover:text-blue-900 transition duration-300">Ask Question</a> --}}
        </div>
        {{!-- Right side of nav bar --}}
        <div class="flex gap-x-3">
          <!-- Conditionally render login or logout links -->
          {{#if logged_in}}          
          <a href="/profile" class="text-slate-800 hover:text-blue-900 transition duration-200">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
            </svg>
          </a>
          <button class="no-button font-bold text-slate-800 hover:text-blue-900 transition duration-300" id="logout">Sign Out</button>
          {{else}}
          <a href="/api/users/login" class="font-bold text-slate-800 hover:text-blue-900 transition duration-300">Sign In/Register</a>          
          {{/if}}
        </div>
      </nav>
    </header>
    <main class="px-8 md:px-20">
    {{{body}}}
    </main>
    <footer class="px-8 md:px-20">
      <div class="max-w-screen-xl mx-auto pb-8">          
        <h1 class="text-center font-bold">Footer Text Goes Here</h1>
      </div>
    </footer>
    
    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
      <script src="/js/addAnswer.js"></script>
      <script src="/js/deletePost.js"></script>
      <script src="/js/flagPost.js"></script>
    {{/if}}
  </body>

</html>